/* === Стили для страницы "About" === */
body.about-page {
  background-color: #f4f4f4;
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-content {
  text-align: center;
  width: 500px;
  background-color: #fff;
  padding: 80px;
  border-radius: 8px;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

p {
  font-size: 16px;
  color: #666;
}

.about-icon {
  fill: #353535;
  width: 120px;
  height: 120px;
}